@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #eee;
  --background-start-rgb: #333;
  --background-end-rgb: #555;

  --primary-color: #050914;
  --secondary-color: #eee;

  --background-color: #050914;
  --text-color: #eee;
  --hover-color: #609;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

nav {
  background-color: var(--primary-color);
}

a {
  color: var(--secondary-color);
}

a:hover {
  color: var(--hover-color);
}

button:hover {
  background-color: var(--hover-color);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation: pulse 10s infinite; /* Adjust the duration as needed */
}
